<div class="center hero-unit">
  <h1>Welcome to the Sign up page</h1>
  <h2>This is the home page, as well as the users sign up page.</h2>
</div>

<div class="row">
  <div class="span4 offset2">
  	<p>We're fanatical about the speed of our service. To ensure a great experience for all of our users we're inviting people on a rolling basis. Enter your name and email to the right and we'll keep you posted on our progress. We'll get you your invite as soon as we can!</p>
  </div>
  <div class="span4">
    <p>Launching soon.</p>
    <%= form_for(@user) do |f| %>

      <%= render 'shared/error_messages' %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
    <p>No spam. Just a heads up when we're ready for you.</p>  </div>
</div>